/*
 * SPDX-FileCopyrightText: syuilo and other misskey contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */
@font-face {
	font-family: Chollima;
	src: url(/static-assets/fonts/chollima.woff2) format("woff2"),
			url(/static-assets/fonts/chollima.woff) format("woff"),
			url(/static-assets/fonts/chollima.ttf) format("truetype");
}

* {
	font-family: Fira code, Fira Mono, Consolas, Menlo, Chollima, Courier, monospace;
}

html {
	background: #ffb4e1;
}

main {
	background: #dedede;
}

#tl > div {
	padding: 16px;
	border-bottom: solid 1px #c3c3c3;
}
#tl > div > header {
	font-weight: bold;
}
